<ion-content>
  <h1 padding>Cosas</h1>

  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label floating>Correo</ion-label>
      <ion-input [(ngModel)]="email" formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched">
      <p>No se olvide de completar este campo!</p>
    </ion-item>
    <ion-item *ngIf="loginForm.controls.email.hasError('email') && loginForm.controls.email.touched">
      <p>El correo introducido no es correcto</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input [(ngModel)]="password" formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">
      <p>No se olvide de completar este campo!</p>
    </ion-item>
  </form>

  <div padding>
    <button ion-button color="primary" block [disabled]="!loginForm.valid" (click)="login()" >Iniciar sesión</button>

    <p></p>

    <button ion-button color="secondary" block (click)="openSigninPage()">Crear cuenta</button>
  </div>
</ion-content>